.number {
    height: 58px;
    width: 58px;
    margin: 10px;
    border-radius: 50%;
    background: #e597a3;
    text-align: center;
    line-height: 58px;
    color: #fff;
    font-weight: bold;
}