body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 50px 0;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.button {
  border: 0;
  padding: 10px 20px;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
  align-self: center;
}
.numbers {
  display: flex;
}
